{% extends "LAHAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Wykres ostatnich odwiedzin</h3>

                <div id="widgetIframe" class="">
                    <iframe width="100%" height="350" src="{{ piwik_site_url }}/index.php?module=Widgetize&action=iframe&columns[]=nb_visits&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite={{ piwik_website_id }}&period=day&date=yesterday&disableLink=1&widget=1&token_auth={{ piwik_auth_token }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Odwiedziny w/g krajów</h3>

                <div id="widgetIframe" class="">
                    <iframe width="100%" height="350" src="{{ piwik_site_url }}/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountry&actionToWidgetize=getCountry&idSite={{ piwik_website_id }}&period=day&date=yesterday&disableLink=1&widget=1&token_auth={{ piwik_auth_token }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Aktualne wejścia na stronę</h3>

                <div id="widgetIframe">
                    <iframe width="100%" height="350" src="{{ piwik_site_url }}/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=realtimeMap&idSite={{ piwik_website_id }}&period=day&date=yesterday&disableLink=1&widget=1&token_auth={{ piwik_auth_token }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                </div>

            </div>
            <div class="col-md-6">
                <h3>Liczba gości teraz na stronie</h3>

                <div id="widgetIframe">
                    <iframe width="100%" height="350" src="{{ piwik_site_url }}/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Live&actionToWidgetize=getSimpleLastVisitCount&idSite={{ piwik_website_id }}&period=day&date=yesterday&disableLink=1&widget=1&token_auth={{ piwik_auth_token }}" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
