{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block collection_widget %}
    {% spaceless %}
        <div class="collection">
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}
                <ul>
                    {% for rows in form %}
                        <li>
                            {% for row in rows %}
                                    {%  if rows.vars.value is CarImage %}
                                        <img src="/uploads/{{ rows.vars.value.name }}" width="200" />
                                    {% endif %}
                                    {{ form_widget(row) }}
                            {% endfor %}
                            <a class="item_remove" href="#">
                                <span>{{ "car.form.remove_item"|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {{ form_rest(form) }}
            </div>
            <a class="item_add" href="#">
                <span>{{ "car.form.add_item"|trans }}</span>
            </a>
        </div>
        <div class="clear"></div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {{ _self.test(prototype) }}
{% endblock collection_item_widget %}

{% macro test(prototype) %}
    {% spaceless %}
        <li>
            {% for row in prototype %}
                {{ form_widget(row) }}
            {% endfor %}
            <a class="item_remove" title="Remove" href="#">
                <span>{{ "car.form.remove_item"|trans }}</span>
            </a>
        </li>
    {% endspaceless %}
{% endmacro %}
