{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block collection_widget %}
    {% spaceless %}
        <div class="collection">
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}
                <ul>
                    {% for rows in form %}
                        <li>
                            {% for row in rows %}
                                    {%  if rows.vars.value is CarImage %}
                                        <img src="/uploads/{{ rows.vars.value.name }}" width="200" />
                                    {% endif %}
                                    {{ form_widget(row) }}
                            {% endfor %}
                            <a class="item_remove" href="#">
                                <span>{{ "car.form.remove_item"|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {{ form_rest(form) }}
            </div>
            <a class="item_add" href="#">
                <span>{{ "car.form.add_item"|trans }}</span>
            </a>
        </div>
        <div class="clear"></div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {{ _self.test(prototype) }}
{% endblock collection_item_widget %}

{% macro test(prototype) %}
    {% spaceless %}
        <li>
            {% for row in prototype %}
                {{ form_widget(row) }}
            {% endfor %}
            <a class="item_remove" title="Remove" href="#">
                <span>{{ "car.form.remove_item"|trans }}</span>
            </a>
        </li>
    {% endspaceless %}
{% endmacro %}

{% block _dende_form_car_type_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-type">{{ "click_here_to_add_new_car_type"|trans }}</a>
    {% endspaceless %}
{% endblock %}

{% block _dende_form_car_add_type_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-type-close">{{ "toggle_widgets_close"|trans }}</a>
    {% endspaceless %}
{% endblock %}

{% block _dende_form_car_model_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-model">{{ "click_here_to_add_new_car_model"|trans }}</a>
    {% endspaceless %}
{% endblock %}

{% block _dende_form_car_add_model_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-model-close">{{ "toggle_widgets_close"|trans }}</a>
    {% endspaceless %}
{% endblock %}

{% block _dende_form_car_color_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-color">{{ "click_here_to_add_new_car_color"|trans }}</a>
    {% endspaceless %}
{% endblock %}
{% block _dende_form_car_add_color_widget %}
    {% spaceless %}
        {{ form_widget(form) }}
        <a href="#" class="pull-right" id="add-new-car-color-close">{{ "toggle_widgets_close"|trans }}</a>
    {% endspaceless %}
{% endblock %}

{% block form_row -%}
    {% spaceless %}
        <div{% if attr.id is defined %} id="{{ attr.id }}"{% endif %} class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{%- endblock form_row %}
