{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a href="{{ path('car') }}" class="btn btn-info">{{ "crud.action.back_to_list"|trans }}</a>
                    <a href="{{ path('edit_car', {id: entity.id}) }}" class="btn btn-warning">{{ "crud.action.edit"|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <h1>{{ entity.title }}</h1>

    <table class="table table-bordered table-striped record_properties">
        <tbody>
            <tr>
                <th>{{ "car.form.label.description"|trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.year"|trans }}</th>
                <td>{{ entity.year }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.distance"|trans }}</th>
                <td>{{ entity.distance }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.fuel"|trans }}</th>
                <td>{{ entity.fuel }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.engine"|trans }}</th>
                <td>{{ entity.engine }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.gearbox"|trans }}</th>
                <td>{{ entity.gearbox }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.registrationCountry"|trans }}</th>
                <td>{{ entity.registrationCountry }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.promoteCarousel"|trans }}</th>
                <td>{{ entity.promoteCarousel }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.promoteFrontpage"|trans }}</th>
                <td>{{ entity.promoteFrontpage }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.adminNotes"|trans }}</th>
                <td>{{ entity.adminNotes }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.hidden"|trans }}</th>
                <td>{{ entity.hidden }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.created"|trans }}</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ "car.form.label.modified"|trans }}</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
