{% extends "::frontendLayout.html.twig" %}

{% block body %}

    <div class="grid_8">
        <div class="inner-block">
            <h2 class="h2-border p3">{{ "contact.label"|trans }}</h2>
            <div class="wrap">
                <figure class="img-border map">
                    <iframe src="http://maps.google.com/maps?z=14&t=m&q={{ address|striptags|url_encode }}&output=embed"></iframe>
                </figure>
                <dl class="adrss">
                    <dt><strong>{{ address|raw }}</strong></dt>
                    <dd><span>{{ "contact.telephone"|trans }}:</span>{{ contact_number }}</dd>
                    <dd class="p8"><a href="mailto:{{ email_address }}" class="link-4">{{ email_address }}</a></dd>
                </dl>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="grid_4">
        <div class="inner-block">
            <div class="bg-white pad-1 top">
                <div class="form-title">{{ "contact.form.label"|trans }}</div>
                {{ form(form) }}



                {# <form id="form" method="POST">#}
                    {#{% if flash is not defined %}#}
                    {#<div class="success">#}
                        {#<div class="success_txt">#}
                            {#{{ "contact.form.flash.thank_you"|trans }}#}
                        {#</div>#}
                    {#</div>#}
                    {#{% endif %}#}
                    {#<fieldset>#}
                        {#<?php if ($car != null): ?>#}
                        {#<label class="name">#}
                            {#{{ form_widget(form.email) }}#}
                        {#</label>#}
                        {#<?php endif; ?>#}
                        {#<label class="name">#}
                            {#<?= $form['name']->render(['placeholder' => __('contact.name.placeholder')]); ?>#}

                            {#<?php if ($form['name']->hasError()): ?>#}
                            {#<span class="error error-empty">#}
                                {#<?= $form['name']->getError(); ?>#}
                            {#</span>#}
                            {#<?php endif; ?>#}

                        {#</label>#}
                        {#<label class="email">#}
                            {#<?= $form['email']->render(['placeholder' => __('contact.email.placeholder')]); ?>#}
                            {#<?php if ($form['email']->hasError()): ?>#}
                            {#<span class="error error-empty">#}
                                {#<?= $form['email']->getError(); ?>#}
                            {#</span>#}
                            {#<?php endif; ?>#}
                        {#</label>#}
                        {#<label class="phone">#}
                            {#<?= $form['phone']->render(['placeholder' => __('contact.phone.placeholder')]); ?>#}
                        {#</label>#}
                        {#<label class="message">#}
                            {#<?= $form['body']->render(['placeholder' => __('contact.body.placeholder')]); ?>#}
                            {#<?php if ($form['body']->hasError()): ?>#}
                            {#<span class="error error-empty">#}
                                {#<?= $form['body']->getError(); ?>#}
                            {#</span>#}
                            {#<?php endif; ?>#}

                        {#</label>#}
                        {#<div class="btns">#}
                            {#<button class="button" type="reset"><?= __('contact.contactForm.resetButtonLabel'); ?></button>#}
                            {#<button class="button" type="submit"><?= __('contact.contactForm.submitButtonLabel'); ?></button>#}
                        {#</div>#}
                    {#</fieldset>#}

                    {#<?= $form->renderHiddenFields(); ?>#}
                {#</form> #}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock body %}
