{% extends 'FrontBundle::frontendLayout.html.twig' %}

{% block body %}
<div class="grid_8">
    <div class="inner-block">
        <h2 class="h2-border top-1">{{ 'list.caption'|trans }} :
            <span id="list-result-count">{{ cars|length }}</span>

            <a class="link" href="{{ path("list") }}">{{ 'list.show_all_link'|trans }}</a>
        </h2>
        <div class="box-3">
            <ul class="search-results">
                {% for car in cars %}
                    {% set link = path("show", {id: car.id, slug: car.slug}) %}

                    <li>
                        <a href="{{ link }}">
                            <img style="width: 290px" alt="" src="{{ asset('/uploads/thumbnails/' ~ car.getFirstImage() ) }}">
                        </a>
                        <div class="extra-wrap">
                            <h3><a href="{{ link }}">{{ car.getTranslated("title", app.request.locale) }}</a></h3>

                            {% set description = car.getTranslated("description", app.request.locale) %}

                            <p>{{ description|slice(0, 200)|striptags }}{% if description|length>200 %}...{% endif %}</p>
                            <p class="price">
                                {% for price in car.prices %}
                                    {{ price.amount }} {{ price.currency.symbol }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <a class="button" href="{{ link }}">{{ 'list.car_details'|trans }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{{ render(controller("FrontBundle:Default:search", {form: searchForm})) }}

<div class="clear"></div>
{% endblock %}
