{% extends 'FrontBundle::frontendLayout.html.twig' %}

{% block body %}
    <div class="container_12">
        <script>
            $(document).ready(function () {
                $("a[rel^='prettyPhoto']").prettyPhoto();
            });
        </script>
        <div class="grid_8">
            <div class="inner-block">
                <h2 class="h2-border">{{ car.title }} <a class="link" href="{{ path("list") }}">wszystkie</a>
                </h2>

                <div class="camera_wrap camera_azure_skin" id="slide" style="display: block; height: 310px;">
                   {% for image in car.images %}
                       <div data-src="{{ asset("/uploads/" ~ image.name) }}">
                           <div class="banner camera_caption fadeFromBottom">
                               <p><strong>{{ car.model.brand.name }} {{ car.model.name }}</strong>
                                   <a href="#">{{ car.title }}</a>
                               </p>
                           </div>
                       </div>
                    {% endfor %}
                </div>

                <div class="pad-1 container-fluid">
                    <ul id="details-thumbnails" class="thumbnails row-fluid">
                        {% for image in car.images %}
                        <li class="span3">
                            <a href="{{ asset("/uploads/" ~ image.name) }}" class="thumbnail" rel="prettyPhoto">
                                <img src="{{ asset("/uploads/thumbnails/" ~ image.name) }}" />
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

        <div class="grid_4 bg-white">
            <div class="inner-block">
                <div class="pad-1">
                    <div class="form-title h2-border">Informacje<span>o samochodzie</span></div>

                    <table id="details-table" class="table">
                        <tbody>
                        <tr>
                            <td>Marka i model</td>
                            <td>{{ car.model.brand.name }} {{ car.model.name }}</td>
                        </tr>
                        <tr>
                            <td>Rok</td>
                            <td>{{ car.year }}</td>
                        </tr>
                        <tr>
                            <td>Przejechane km</td>
                            <td>{{ car.distance }} km</td>
                        </tr>
                        <tr>
                            <td>Rodzaj paliwa</td>
                            <td>{{ car.fuel }}</td>
                        </tr>
                        <tr>
                            <td>Silnik</td>
                            <td>{{ car.engine }}</td>
                        </tr>
                        <tr>
                            <td>Skrzynia biegów</td>
                            <td>{{ car.gearbox }}</td>
                        </tr>
                        <tr>
                            <td>Kolor</td>
                            <td>{{ car.color.getTranslated("name", app.request.locale) }}</td>
                        </tr>
                        <tr>
                            <td>Kraj rejestracji</td>
                            <td>{{ car.registrationCountry }}</td>
                        </tr>
                        <tr>
                            <td>Cena</td>
                            <td>
                                {% for price in car.prices %}
                                    {{ price.amount }} {{ price.currency.symbol }}{% if not loop.last %}<br /> {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="/contact/1" class="button">Zapytaj nas o auto</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="grid_12 bg-white">
            <div class="inner-block">
                <h2 class="h2-border">{{ car.getTranslated("title", app.request.locale) }}</h2>

                <div class="pad-1">
                    <h3>Opis oferty</h3>

                    {{ car.getTranslated("description", app.request.locale)|raw }}
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
